.wrapper {
	position: relative;
}

@mixin tooltip($dir: right, $bgcolor: black) {
	position: absolute;
	z-index: 100;
	background-color: $bgcolor;
	min-width: 160px;
	padding: 8px;
	border-radius: 4px;
	color: white;
	border: 2px solid $bgcolor;
	box-sizing: border-box;

	@if(($dir==top) or ($dir==bottom)) {
		#{$dir}: -15%;
		left: 50%;
	
		&::after{
			content: "";
			z-index: 1;
      position: absolute;
      border-width: calc(0.8vmin);
      border-style: solid;
			left: 50%;
			transform: translateX(-50%);
		}

		@if($dir==top) {
			transform: translate(-50%, -90%);
			&::after{
      border-color: $bgcolor transparent  transparent transparent;
			bottom: calc(0px - 1.6vmin)
		}
		}@else {
			transform: translate(-50%, 90%);
			&::after{
				border-color: transparent transparent $bgcolor transparent ;
				top: calc(0px - 1.6vmin)
			}
		}
	}@else {
		top: 50%;
		#{$dir}: -5%;

		&::after{
			content: "";
      position: absolute;
      border-width: calc(.8vmin);
      border-style: solid;
			top: 50%;
			transform: translateY(-50%);
		}
		
		@if($dir==right) {
			transform: translate(110%, -50%);
			&::after{
				border-color: transparent $bgcolor transparent transparent;
				left: calc(0px - 1.6vmin)
			}
		}@else {
			transform: translate(-110%, -50%);
			&::after{
				border-color: transparent transparent transparent $bgcolor;
				right: calc( 0px - 1.6vmin)
			}
		}
	}

}

//original code that I played around with to figure out how to make tooltips 
//and position them based on top, right, transforms etc.
//after figuring it out I made the above mixin


// // left right
// .tooltip-right {
// 	position: absolute;
// 	background-color: red;
// 	width: 300px;
// 	top: 50%;
// 	transform:translateY(-50%);
// 	right: -130%;
	
// 	&::after{
// 			content: "";
//       position: absolute;
//       border-width: 12px;
//       border-style: solid;
//       border-color: transparent #FFFFFF transparent transparent;
// 			transform: translateY(-50%);
// 			left: -24px;
      
// 		}
// }

// //top bottom
// // .tooltip {
// // 	position: absolute;
// // 	background-color: red;
// // 	width: 300px;

// // 	top: 100%;
// // 	left: 50%;
// // 	transform: translateX(-50%)
	
// // }

.tooltip{
	&-right{
		@include tooltip(right)
	}
	&-left{
		@include tooltip(left)
	}
	&-top{
		@include tooltip(top)
	}
	&-bottom{
		@include tooltip(bottom)
	}
}





