.App {
  text-align: center;
}



.App-header {
  background-color: #7ea9ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.2vmin);
  color: white;
}



button {
  font-size: calc(10px + 2vmin);
}
